body {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("./bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

 /*brand name title*/
.brand_name {
  margin-top: -0.5%;
  font-family: Impact, fantasy;
  font-size: 5em;
  text-align: center;
  color: #3399FF;
}

.my-button {
  font-size: 3em;
}

.button-att {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mode-text {
  font-size: 4em;
  color: white;
}

.about {
  font-size: 2em;
  color: black;
}

.well {
  background-color: rgba(245, 245, 245, 0.7);
}

.footer {
  color: white;
  font-size: 1.3em;
  text-align: center;
}

.love {
  color: red;
  font-family: Impact, Charcoal, sans-serif
}

/* video-space is the space in which each video will get displayed */
.video-space iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* instructions on how to use it */
/*.instructions {
  font-size: 2em;
  margin-bottom: 2%;
  margin-top: 2%;
  color: #3399FF;
  font-family: Impact, fantasy;
}*/

a, a:hover, a:active, a:focus {
  text-decoration: none !important;
  outline: 0 !important;
}

button {
  text-decoration: none !important;
  outline: 0 !important;
}

.work-area {
    margin-bottom: 3%;
}
